marquee { 
    background-color: lightgrey;
    width: 100%;
    height: 70px;
    padding: 10px 0;
    text-align: center;
    font-size: 70px;
}

marquee p {
    margin: 0;
    padding: 0;
}

.expandingcards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 90vw;
}

.pannel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.pannel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.pannel.active {
    flex: 2;
}

.pannel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}