.discount {
    color: grey;
    text-decoration: line-through;
}

table, td {
    text-align: center;
    
}

table {
    width: auto;
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 1px solid lightgrey;
    padding: 10px;
}